Flask==0.10.1
Jinja2==2.7.1
ManifestDestiny==0.5.7
MarkupSafe==0.18
Werkzeug==0.9.4
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
b2gperf==0.6
billiard==2.7.3.32
celery==3.0.23
datazilla==1.4
gaiatest==0.12
httplib2==0.8
importlib==1.0.2
itsdangerous==0.23
kombu==2.5.14
marionette-client==0.5.30
mozcrash==0.8
mozdevice==0.29
mozfile==0.10
mozhttpd==0.6
mozinfo==0.6
mozlog==1.3
moznetwork==0.23
mozprocess==0.11
mozprofile==0.12
mozrunner==5.23
oauth2==1.5.211
ordereddict==1.1
progressbar==2.3
python-dateutil==2.1
requests==1.2.3
six==1.4.1
wsgiref==0.1.2
